* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

html, body {
  height: 100%;
  width: 100%;
}
h1{
  font-size: 120px;
  transform: translate(-50%,-50%);
  position: absolute;
  text-decoration: underline;
  top: 30vh;
  left: 50vw;
}
.nav{
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: black;
}
.nav a{
  text-decoration: underline;
}
h2{
  font-size: 120px;
  transform: translate(-50%,-50%);
  position: absolute;
  text-decoration: underline;
  top: 50vh;
  left: 50vw;
}
.sale{
  background-color: rgb(109, 19, 106);
  display: flex;
  gap: 15px;
  flex-wrap: nowrap;
}
.sale p{
  flex-shrink: 0;
}
.foot{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(42,42,42);
  position: absolute;
  width: 100%;
  bottom: 0;
}
.foot button{
  padding: 10px 20px;
  background-color: lightseagreen;
  
}
.foot button:active{
  scale: .95;
}